<div class="media">
  <div class="mr-3">
    <div
      class="rounded-circle d-flex justify-content-center"
      style="width: 60px; height: 60px"
      [style.background-color]="chooseRandom()"
    >
      <span class="h5 p-3 text-white">{{ genarteChar("D") }}</span>
    </div>
  </div>
  <div class="media-body">
    <h5 class="mt-0">Media heading</h5>
    <div
      class="p-3"
      style="
        background-color: rgba(175, 175, 175, 0.247);
        width: fit-content;
        border-radius: 1em;
      "
    >
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
</div>
