<!--Navbar blue-->
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary shadow">
  <div class="container">


      <a class="navbar-brand" href="">
          <div class="logo">
              <div class="d-none d-md-block">
                  <span class="h5">Information Technology Institute</span>
              </div>
          </div>
      </a>
      <nav class="navbar">
        <a class="navbar-brand " routerLink="/Home/search">
          <img src="../../assets/img/search-512.webp" width="30" height="30" alt="">
        </a>
      </nav>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tex" aria-controls="tex"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pr-2" id="tex">
          <ul class="navbar-nav ml-auto">
              <li routerLinkActive="active">
                  <a class="nav-link waves-effect waves-light" routerLink="/Home">Home</a>
              </li>
              <li routerLinkActive="active">
                  <a class="nav-link waves-effect waves-light " *ngIf="login" routerLink="/Home/profile">Profile</a>
              </li>
              <!-- <li routerLinkActive="active">
                <a class="nav-link" routerLink="/register" *ngIf="!isLoggedIn$ | async" routerLinkActive="active bg-success">register</a>
              </li> -->
              <li routerLinkActive="active">
                  <a class="nav-link"  routerLink="/login" *ngIf="!login" routerLinkActive="active  bg-success">login</a>
              <li routerLinkActive="active">
                  <a class="nav-link btn active" *ngIf="login" routerLinkActive="active  bg-success"(click)="logout()">logout </a>
             </li>
          </ul>
      </div>
  </div>
</nav>


<!-- Page Content -->
<!-- <section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Page Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>

</section> -->
