body{
    background-image: url('../../assets/img/login.jpg');
    background-size: cover;
    height: 93.1%;
    overflow-y: hidden  !important;
    
   
}
form{
    width: 25%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    border: 1px solid grey;
    border-radius:9%;
    padding: 20px;
    background-color:lightgray;
}
div{
    font-size: 0.9rem;
}
label{
    font-size: 1rem;
}
