<!-- <body>
   <div class="row m-auto text-center mt-5" >
      <div class="m-auto text-center col" >
      <form [formGroup]="LoginForm" (ngSubmit)="submit()">
         <div>
            <img [src]="imageURlLogin" fa-border/>
         </div>
         <div class="col-sm-12 m-auto">
               <div class="form-group">
                  <input type="text" formControlName="email" placeholder="enter your email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                     <div *ngIf="f.email.errors.required">Email is required</div>
                     <div *ngIf="f.email.errors.pattern">invalid email address must be in form xxx@xxxxx.com</div>
                  </div>
               </div>
            </div>
         <div class="col-sm-12 ">
            <div class="form-group">
                  <input type="password" formControlName="password" placeholder="enter your password" data-toggle="password"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">password is required</div>
                        <div *ngIf="f.password.errors.minlength">password must be at least 8 characters</div>
                        <div *ngIf="f.password.errors.maxlength">password must be max. 20 characters</div>
                        <div *ngIf="f.password.errors.pattern">invalid password must contain special Charchters as Geeks@portal20</div>
                  </div>
            </div>
            <h4 *ngIf="error">{{error}}</h4>
         </div>
         <div>
            <button type="submit" class="btn btn-dark m-3">Login</button>
         </div>

       <p >if you don't have account <b><a  text-primary routerLink="/register">Sign Up Now !</a></b></p>
      </form>

      </div>
   </div>

</body> -->

<body class="bg-gradient-primary">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div
                class="col-lg-6 d-none d-lg-block bg-login-image rounded"
              ></div>
              <div class="col-lg-6 rounded">
                <div class="p-5">
                  <div class="text-center">
                    <h1
                      class="h4 mb-4"
                      style="font-family: 'Lobster', cursive; color: ' #d901c2'"
                    >
                      Welcome Back Blogimo!
                    </h1>
                  </div>

                  <br />
                  <form
                    class="user"
                    [formGroup]="LoginForm"
                    (ngSubmit)="submit()"
                  >
                    <div class="form-group">
                      <input
                        type="text"
                        placeholder="Enter Email Address..."
                        formControlName="email"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && f.email.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.email.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.email.errors.required">
                          Email is required
                        </div>
                        <div *ngIf="f.email.errors.pattern">
                          invalid email address must be in form xxx@xxxxx.com
                        </div>
                      </div>
                    </div>
                    <div class="">
                      <div class="form-group">
                        <input
                          type="password"
                          placeholder="Password"
                          formControlName="password"
                          data-toggle="password"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && f.password.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f.password.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.password.errors.required">
                            password is required
                          </div>
                          <div *ngIf="f.password.errors.minlength">
                            password must be at least 8 characters
                          </div>
                          <div *ngIf="f.password.errors.maxlength">
                            password must be max. 20 characters
                          </div>
                          <div *ngIf="f.password.errors.pattern">
                            invalid password must contain special Charchters as
                            Geeks@portal20
                          </div>
                        </div>
                      </div>
                      <h4 *ngIf="error">{{ error }}</h4>
                    </div>
                    <br />

                    <button id="login" type="submit" class="btn btn-dark">
                      Login
                    </button>
                    <br />
                  </form>
                  <hr />

                  <div class="text-center">
                    <a
                      class="small"
                      href="#"
                      style="color: #d901c2; text-decoration: none"
                      routerLink="/register"
                      >Create an Account!</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
