body{
    background-image: url('../../assets/img/login.jpg');
    background-size: cover;
    height: 100%;
    overflow-y: hidden  !important;
    
   
}
form{
    width: 25%;
    text-align: center;
    margin: auto;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10%;
    background-color:rgb(241, 241, 241,0.4) ;
}
div{
    font-size: 0.9rem;
    
}
label{
    font-size: 1rem;
}
img{
    border-radius:50% ;
    width:120px;
    height: 120px;
    margin-bottom: 3%;

}
input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: rgb(88, 86, 86);
}