@import url("https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.3/js/sb-admin-2.min.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.3/js/sb-admin-2.min.js");
/* body {
  background-image: url("../../assets/img/login.jpg");
  background-size: cover;
  height: 93.1%;
  overflow-y: hidden !important;
}
form {
  width: 25%;
  text-align: center;
  margin: auto;
  margin: 4% auto;
  padding: 20px;
}
div {
  font-size: 0.9rem;
}
label {
  font-size: 1rem;
}
img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-bottom: 3%;
}
input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgb(88, 86, 86);
} */

.bg-login-image {
  background-image: url("/assets/img/vino-li-iBq9gBaP9J4-unsplash.jpg");
  background-size: cover;
}
.bg-gradient-primary {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
input {
  border-radius: 1em;
}
button {
  border-radius: 1em;
  border: 0;
  width: 100%;
  background-color: #d901c2;
}
.btn-dark:hover {
  background-color: #c47bf8;
}
a:hover {
  color: #c47bf8;
}
.btn-dark:focus {
  background-color: #8912dd;
}
