<div class="flex-auto">
  <mat-spinner *ngIf="loader"></mat-spinner>
</div>

<div *ngIf="!loader" class="container-fluid gedf-wrapper">
  <div class="row">
    <div class="col-md-3">
      <!-- <div class="card">
        <div class="card-body">
          <div class="h5">@LeeCross</div>
          <div class="h7 text-muted">Fullname : Miracles Lee Cross</div>
          <div class="h7">
            Developer of web applications, JavaScript, PHP, Java, Python, Ruby,
            Java, Node.js, etc.
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">Followers</div>
            <div class="h5">5.2342</div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">Following</div>
            <div class="h5">6758</div>
          </li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div> -->
    </div>
    <div class="col-md-6 gedf-main">
      <!--- \\\\\\\Post-->
      <div class="card gedf-card shadow">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="posts-tab"
                data-toggle="tab"
                href="#posts"
                role="tab"
                aria-controls="posts"
                aria-selected="true"
                >Make a publication</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="images-tab"
                data-toggle="tab"
                role="tab"
                aria-controls="images"
                aria-selected="false"
                href="#images"
                >Images</a
              >
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="posts"
              role="tabpanel"
              aria-labelledby="posts-tab"
            >
              <div class="form-group">
                <label class="sr-only" for="message">post</label>
                <textarea
                  class="form-control"
                  disabled
                  id="message"
                  rows="3"
                  placeholder="What are you thinking?"
                ></textarea>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="images"
              role="tabpanel"
              aria-labelledby="images-tab"
            >
              <div class="form-group">
                <div class="custom-file">
                  <input
                    type="file"
                    disabled
                    class="custom-file-input"
                    id="customFile"
                  />
                  <label class="custom-file-label" for="customFile"
                    >Upload image</label
                  >
                </div>
              </div>
              <div class="py-4"></div>
            </div>
          </div>
          <div class="btn-toolbar justify-content-between">
            <div class="btn-group">
              <button
                type="submit"
                class="btn btn-primary"
                routerLink="/Create"
                style="background-color: #3d4199"
              >
                Create
              </button>
            </div>
            <div class="btn-group">
              <button
                id="btnGroupDrop1"
                type="button"
                class="btn btn-link dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-globe"></i>
              </button>
              <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                              <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a>
                              <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Friends</a>
                              <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a>
                          </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- Post /////-->

      <div class="card shadow mt-5 mb-5" *ngFor="let post of posts">
        <div class="d-flex justify-content-between">
          <div class="row m-2">
            <div
              class="rounded-circle d-flex justify-content-center"
              style="width: 60px; height: 60px"
              [style.background-color]="chooseRandom()"
            >
              <span class="h5 p-3 text-white">{{
                genarteChar(post.author?.FirstName)
              }}</span>
            </div>
            <div class="ml-3 row">
              <div>
                <div class="username">@{{ post?.author?.userName }}</div>
                <div class="h7 text-muted">
                  {{ post?.author?.FirstName }} {{ post?.author?.LastName }}
                </div>
                <div class="history">
                  <i class="fas fa-history"></i
                  >{{ getTimeFromNow(post?.creatAt) }}
                </div>
              </div>
            </div>
          </div>
          <div class="float-right m-2 dropdown open">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenu3"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu">
              <div class="h6 dropdown-header">Configuration</div>
              <a class="dropdown-item" (click)="goToUpate(post)">Update</a>
              <a class="dropdown-item" (click)="delete(post?._id)">Delete</a>
            </div>
          </div>
        </div>
        <img
          [src]="post?.imagePath"
          class=""
          alt=""
          height="250"
          style="width: 100%"
          onerror="this.src='../../assets/img/product_i_m_img_not_available_1_1.png'"
        />
        <div class="card-body">
          <h5 class="card-title">{{ post?.titel }}</h5>

          <p>{{ post?.content | slice: 0:100 }}...</p>
          <div>
            <span
              class="badge badge-primary m-1 p-1"
              *ngFor="let item of post?.tags"
              style="background-color: #3d4199"
              >{{ item }}</span
            >
          </div>
          <hr />
          <div class="row d-flex justify-content-around m-0">
            <div>
              <button
                type="button"
                class="btn"
                [ngClass]="{ 'text-primary': chang(post) }"
                (click)="onLike(post?._id)"
              >
                <span class="far fa-thumbs-up"></span>
                {{ post?.likes.length }} Like
              </button>
              <!-- {{chang(post) |json}} -->
            </div>
            <div>
              <button
                type="button"
                class="btn"
                (click)="
                  divCom.style.display == 'block'
                    ? (divCom.style.display = 'none')
                    : (divCom.style.display = 'block')
                "
              >
                <i class="far fa-comment"></i>
                {{ post?.comments.length }} Comment
              </button>
            </div>
            <div>
              <button
                type="button"
                class="btn"
                [routerLink]="['/Show', post?._id]"
              >
                <i class="fas fa-book-open"></i> Show
              </button>
            </div>
          </div>
          <hr />
          <div class="input-group">
            <input
              type="text"
              class="form-control mr-2 inputComent"
              #com
              placeholder="Write your comment"
              aria-label=""
              aria-describedby="basic-addon1"
            />
            <div class="input-group-append">
              <button
                class="btn btn-primary inputComent"
                (click)="createComent(post?._id, com?.value); com.value = ''"
                type="button"
                style="background-color: #3d4199"
              >
                Send
              </button>
            </div>
          </div>
        </div>
        <div style="display: none" #divCom>
          <div *ngIf="isAuth">
            <div class="" *ngFor="let comment of post?.comments | slice: 0:4">
              <div class="row m-2">
                <div
                  class="rounded-circle d-flex justify-content-center"
                  style="width: 60px; height: 60px"
                  [style.background-color]="chooseRandom()"
                >
                  <span class="h5 p-3 text-white">{{
                    genarteChar(comment.author?.FirstName)
                  }}</span>
                </div>
                <div class="media">
                  <div class="media-body">
                    <h5 class="text-muted mt-0" style="margin-top: -0.7em">
                      {{ comment?.author?.FirstName }}
                      {{ comment?.author?.LastName }}
                    </h5>
                    <div>
                      <div class="ml-4">{{ comment?.content }}</div>
                      <br />
                      <div class="history float-right">
                        <a class="text-sm-center">delete</a>
                        <i class="fas fa-history"></i
                        >{{ getTimeFromNow(comment?.createdAt) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <!-- <div class="card gedf-card">
              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
              </div>
          </div> -->
      <!-- <div class="card gedf-card">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                  </div>
              </div> -->
    </div>
  </div>
</div>
